.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.flex { display: flex; }

.row { flex-direction: row; }
.column, .col { flex-direction: column; }


.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify
}
